<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="shopping-list">
    <h1>{{ header ? header: 'Welcome' }}</h1>

    <div class="add-item-form">
        <input @keyup.enter="saveItem" v-model="newItem" type="text" placeholder="Add an Item">
        <label>
            <input type="checkbox" v-model="newItemHighPriority"> High Priority
        </label>
        <button
                @click="saveItem"
                class="btn btn-primary">Save Item
        </button>
    </div>

    <!--<label>
        Priority

        <select v-model="newItemPriority">
            <option value="low">Low</option>
            <option value="high">High</option>
        </select>
    </label>-->
    <br>
     {{newItemHighPriority}}

    <!--<label><input type="checkbox" v-model="iceCreamFlavors" value="vanila">Vanila</label>
    <label><input type="checkbox" v-model="iceCreamFlavors" value="chocolate">Chocolate</label>
    <label><input type="checkbox" v-model="iceCreamFlavors" value="strawberry">Strawberry</label>
    <label><input type="checkbox" v-model="iceCreamFlavors" value="cookies and cream">Cookies and Cream</label>-->

    <ul>
        <li v-for="item in items" :key="item.id">{{item.label}}</li>
    </ul>

</div>
<script src="https://unpkg.com/vue@3"></script>
<script>
   const shoppingList =  Vue.createApp({
        data(){
            return{
                header: "Shopping List !",
                newItem: '',
                newItemHighPriority: false,
                iceCreamFlavors: [],
                items:[
                    {id:1, label: "10 party hats"},
                    {id:2, label: "2 board games"},
                    {id:3, label: "20 cups"},
                ]
            }
        },
       methods:{
            saveItem(){
                this.items.push({id:this.items.length + 1, label: this.newItem})
                this.newItem = ""
            }
       }
    })
    .mount('#shopping-list')
</script>
</body>
</html>